.summary {
    min-height: calc(100vh - 2px);
    border: 1px solid black;
    overflow: hidden;

    p {
        margin: 3px;
    }
    
    .header {
        display: flex;
        gap: 5px;
        margin: 5px;

        p {
            margin: 0;
        }

        .header-left {
            width: 100%;

            .navn {
                font-size: 1.5em;
                margin-bottom: 5px;
            }

            .født-kjønn {
                margin-bottom: 10px;
            }
        }

        .header-right {
            width: 100%;

            .ordrenummer {
                font-size: 1.5em;
                margin-bottom: 5px;
            }

            .type {
                margin: 10px 0;
            }
        }
    }

    .footer {       
        margin: 5px;

        p {
            margin: 0;
            display: contents;
        }

        .title {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .grid {
            display: grid;
            grid-template-columns: max-content 1fr;
            column-gap: 5px;
            row-gap: 5px;
        }

        .flex {
            display: flex;
            align-items: flex-start;
            gap: 5px;

            > div {
                width: 100%;
            }
        }

        .footer-top {
            margin-bottom: 5px;
        }
        
        .footer-bottom {
            .checkboxes {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .checkbox-wrapper,
                .checkbox {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                input {
                    margin: 0;
                    height: min-content;
                }
            }
        }
    }

    .sub-elements {
        border: 1px solid black;
    }

    .no-new-line {
        display: flex;

        > div {
            width: 100%;
        }
    }

    .image {
        width: 100px;
        height: 100%;
    }

    .color-box {
        border: 1px solid;
        padding: 0 20px;
    }

    .matrix,
    .matrixdropdown,
    .matrixdynamic {
        // border-bottom: 1px solid black;
        margin-bottom: -1px;
    
        .row-header {
            width: 100%;
        }

        .row {
            display: flex;
        }

        .column-header {
            display: flex;

            div {
                width: 100%;
            }
        }
        
        .column {
            border: 1px solid black;
            margin: -1px -1px 0px 0px;
            width: 100%;
        
            p {
                line-break: anywhere;
            }

            .crossmark {
                text-align: center;
            }
        }
    }

    &.default {
        .title{
            font-weight: bold;
            font-size: large;
        }

        .question-title {
            font-weight: bold;
        }

        .question-answer {
            background-color: #fff;
            padding: 2px;
            margin: 0;
            border-radius: 5px;
            height: min-content;
            width: 100%;
            margin-right: 3px;
        }
    
        .sub-elements {
            border-radius: 5px;
            margin: 1px;
            background-color: #e0e1ff;
        }
    }

    &.minimal {
        .sub-elements {
            background-color: #fff;
            margin: -1px;
        }        
    }
}