.summary {
    height: calc(100vh - 2px);
    border: 1px solid black;

    p {
        margin: 5px;
    }

    .sub-elements {
        border: 1px solid black;
        margin: -1px;
        background-color: white;
    }

    .no-new-line {
        display: flex;

        > div {
            width: 100%;
        }
    }

    .image {
        width: 100px;
        height: 100%;
    }

    .matrix,
    .matrixdropdown {
        // border-bottom: 1px solid black;
        margin-bottom: -1px;
    
        .row-header {
            width: 100%;
        }

        .row {
            display: flex;
        }

        .column-header {
            display: flex;

            div {
                width: 100%;
            }
        }
        
        .column {
            border: 1px solid black;
            margin: -1px -1px 0px 0px;
            width: 100%;
        
            .crossmark {
                text-align: center;
            }
        }
    }
}