.summary {
    min-height: calc(100vh - 2px);
    border: 1px solid black;
    overflow: hidden;

    p {
        margin: 5px;
    }

    .header {
        display: flex;
        margin: 5px;

        p {
            margin: 0;
        }

        .header-left {
            width: 100%;

            .navn {
                font-size: 1.5em;
                margin-bottom: 5px;
            }

            .født-kjønn {
                margin-bottom: 10px;
            }
        }

        .header-right {
            width: 100%;

            .ordrenummer {
                font-size: 1.5em;
                margin-bottom: 5px;
            }

            .type {
                margin: 10px 0;
            }            


        }
    }

    .footer {       
        margin: 5px;

        p {
            margin: 0;
        }

        .title {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .grid {
            display: grid;
            grid-template-columns: max-content 1fr;
            column-gap: 5px;
            row-gap: 5px;
            
            p {
                display: contents;
            }
        }

        .footer-top {
            margin-bottom: 5px;
            
            .content {
                display: flex;

                > div {
                    width: 100%;
                }

                .footer-top-left {
                    display: flex;
                    align-items: flex-start;
                    
                    > div {
                        width: 100%;
                    }
                }
            }
        }
        
        .footer-bottom {
            .content {
                display: flex;
                align-items: flex-start;

                > div {
                    width: 100%;
                }

                .checkboxes {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .checkboxes-top,
                    .checkboxes-middle,
                    .checkboxes-bottom {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }

                    .checkbox {
                        display: flex;
                        gap: 5px;
                        align-items: center;
        
                        input {
                            margin: 0;
                            height: min-content;
                        }
                    }
                }
            }
        }
    }

    .sub-elements {
        border: 1px solid black;
        margin: -1px;
        background-color: white;
    }

    .no-new-line {
        display: flex;

        > div {
            width: 100%;
        }
    }

    .image {
        width: 100px;
        height: 100%;
    }

    .color-box {
        border: 1px solid;
        padding: 0 20px;
    }

    .matrix,
    .matrixdropdown,
    .matrixdynamic {
        // border-bottom: 1px solid black;
        margin-bottom: -1px;
    
        .row-header {
            width: 100%;
        }

        .row {
            display: flex;
        }

        .column-header {
            display: flex;

            div {
                width: 100%;
            }
        }
        
        .column {
            border: 1px solid black;
            margin: -1px -1px 0px 0px;
            width: 100%;
        
            p {
                line-break: anywhere;
            }

            .crossmark {
                text-align: center;
            }
        }
    }
}